<div class="row">
  <div class="col-8 mx-auto mt-5">
    <div class="card card-body">

      
        <h1 class="text-center">Login</h1>
      {{> message}}
      <form action="/users/login" method="post">
        <div class="col-sm-10 mt-5 mx-auto">

          <div class="mb-3  row d-flex justify-content-center">
            <label for="email" class="form-label col fs-4 d-flex align-items-center">帳號：</label>
            <div class="col-sm-9">
              <input type="email" class="form-control fs-4" id="email" name="email">
            </div>
          </div>


          <div class="mb-1 row d-flex justify-content-center">
            <label for="password" class="form-label col fs-4 d-flex align-items-center">密碼：</label>
            <div class="col-sm-9">
              <input type="password" class="form-control fs-4" id="password" name="password">
            </div>
          </div>



          <div class="d-grid justify-content-center align-self-center mt-5">
            <button type="summit" class="btn btn-outline-primary ">登入</button>
            <a href="/auth/facebook" class="btn btn-info mt-3">facebook登入</a>
          </div>
      </form>

      <p class="lead mt-2">No Account? <a href="/users/register">Register</a></p>

    </div>
  </div>
</div>